@import "tailwindcss";

body {
  background-color: #121212;
}

#root {
  color: #ffffff;
  max-width: 780px;
  margin: 0 auto;
  padding: 0.5rem;
  background-color: #121212;
  /* font-family: "Bricolage Grotesque", sans-serif; */
  font-family: "Poppins", sans-serif;
  /* font-family: 'DuplicateSans'; */
  letter-spacing: 0.02rem;
  width: 100%;
}


@font-face {
  font-family: 'DuplicateSans';
  src: url('/public/fonts/DuplicateSans-medium.woff2') format('woff2');
  font-weight: 500;
  /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'DuplicateSans';
  src: url('/public/fonts/DuplicateSans-regular.woff2') format('woff2');
  font-weight: 400;
  /* Bold */
  font-style: normal;
}



@font-face {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
}



.comment {
  max-width: 100%;
  min-width: 50%;
  overflow-wrap: anywhere; /* Break long URLs anywhere */
  word-break: break-word;
}


.comment a {
  /* text-decoration: underline; */
  color: #121212;
  overflow-wrap: anywhere; /* Break long URLs anywhere */
  word-break: break-word; /* Break long words */
  display: inline-block; /* Ensure links wrap within container */
  max-width: 100%; /* Prevent links from exceeding container width */
}

.comment > a:hover {
  text-decoration: underline;
  color: #121212;
}

.comment > code {
  font-family: 'Consolas', 'Monaco', 'Courier New', monospace;
  background-color: #f4f4f4;
  padding: 2px 4px;
  border-radius: 4px;
  color: #d63333;
  font-size: 0.9em;
}


.comment > pre code {
  display: block;
  background-color: #1e1e1e;
  color: #d4d4d4;
  padding: 1rem;
  border-radius: 6px;
  font-family: 'Consolas', 'Monaco', 'Courier New', monospace;
  line-height: 1.5;
  font-size: 0.95em;
  overflow: hidden;
  white-space: wrap;
  margin: 2rem;
}